/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
  display: flex;
  flex-direction: column;

  height: 100vh;
  background-color: steelblue;
  color: aliceblue;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  height: fit-content;

  background-color: aliceblue;
  color: navy;
  border-bottom: 2px navy solid;
}

header h1 {
  width: 100%;
  text-align: start;
  font-size: 48px;
  padding: 15px 20px 0 20px;
}

.content-name {
  font-size: 40px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

#contact-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#contact-form input {
  width: 300px;
}

#contact-form textarea {
  border-radius: 4px;
  width: 300px;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px 0 5px 0;

  background-color: darkgrey;
  /* border-bottom: 2px navy solid; */
}

nav a {
  font-size: 24px;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 79vh;
  height: fit-content;
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
}

footer {
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 6vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  border-top: 2px navy solid;
  margin-top: 20px;
}

footer img {
  margin: 0 20px 0 20px;
  height: 38px;
  width: 38px;
}

img {
  border: 2px solid aliceblue;
}

a {
  color: inherit;
}

button {
  min-width: fit-content;
}

section {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 20px 20px 35px 30px;
  justify-content: center;
}

section h2 {
  border-bottom: 2px aliceblue solid;
  width: 95%;
}

section h3 {
  border-bottom: 2px aliceblue solid;
  width: 35%;
  margin-top: 25px;
}
section h4 {
  border-bottom: 1px aliceblue solid;
  width: fit-content;
}

.about-content {
  display: flex;
  flex-direction: row;
}

.screenshot-container {
  width: fit-content;
  margin: 0 auto;
}

.screenshot {
  width: 100%;
  max-width: 70vw;
  height: auto;
  margin: 20px 0 20px 0;
}

.email {
  color: lightblue;
  margin-top: 100px;
}

.secondary-div {
  width: 50%;
}

.project-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.project {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

.project img {
  max-width: 600px;
  width: 90%;
  height: 350px;
  margin: 5px auto;
}

.link {
  width: fit-content;
  margin: 3px auto;
}

.resume-container {
  margin: 0 auto;
  width: 100%;
  height: 1130px;
}

@media screen and (max-width: 992px) {
  .content {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .sub-section {
    flex-direction: column-reverse !important;
    width: 100% !important;
  }

  img {
    margin: auto !important;
  }

  a {
    width: fit-content !important;
    margin: auto !important;
  }

  .secondary-div {
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
  }

  #about-me {
    flex-direction: column;
  }

  .contact-subsection {
    flex-direction: column !important;
    margin-left: 10px;
    justify-content: start !important;
  }

  .contact-subsection p {
    margin-left: 0;
  }

  .project {
    width: 100%;
    border: 0px;
  }

  .resume-container {
    max-height: 800px;
  }
}

@media screen and (max-width: 688px) {
  .project img {
    width: 100%;
    height: 250px;
  }

  .resume-container {
    max-height: 620px;
  }

  #contact-form,
  #contact-form div,
  #contact-form input,
  #contact-form textarea {
    width: 100%;
  }
}
